*{
	margin: 0px;
	padding:0px;
}
#header{
	width:600px;
	height:500px;
	border: 1px solid #000;
	margin: 50px auto;
}
a{
	text-decoration: none;
}
.contentleft{
	width:200px;
	height:425px;
	margin-top:10px;
	float: left;
}
li{
	width:130px;
	margin: 0px auto;
	border-radius:4px;
	border: 1px dashed #ccc;
	box-shadow:2px 2px 1px #ccc;
	line-height:30px;
}
.contentright{
	width:370px;
	height:425px;
	margin-top:10px;
	margin-right:10px;
	float: right;
}
p{
	margin-top:20px;
}
.contentright p{
	height:105px;
	margin-top:0px;
	border: 1px solid #000;
}
.contentright p:nth-child(1){
	border-radius:4px;
	border:1px dashed #ccc;
	background-color: #ededed;
}
.contentright p:nth-child(2){
	border-radius:4px;
	border:1px dashed #ccc;
	background-color: #aaffff;
}
.contentright p:nth-child(3){
	border-radius:4px;
	border:1px dashed #ccc;
	background-color: #aaff7f;
}
.contentright p:nth-child(4){
	border-radius:4px;
	border:1px dashed #ccc;
	background-color: #a7a7a7;
}

span img{
	width:18px;
	width:18px;
}
span:nth-child(1) img{
	width:28px;
	width:18px;
}